<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
          <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
      <div class="jumbotron">
        <h1>WELCOME</h1>
      </div>
 <div class="row">
 </div>
      <div class="row">
        <div class="col-sm-6">
        <a href="/login" class="btn btn-info btn-lg">Login</a>
        </div>
        <div class="col-sm-6">
         <p><b>New user??</b> </p>
        <a href="/join" class="btn btn-info btn-lg">Signup</a>

</body>
</html>